.profile {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.profile__title {
    max-width: 410px;
    margin: 74px auto 106px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.profile__form {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 412px;
}

.profile__content {
    padding: 17px 0 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "label input input"
    "error error error";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #E8E8E8;
}

.profile__content:last-of-type {
    border-bottom: none;
}

.profile__text {
    grid-area: label;
    margin: 0;
    padding: 1px 0;
    cursor: pointer;
}

.profile__text_disabled {
    cursor: default;
    pointer-events: none;
}

.profile__data {
    grid-area: input;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__data::placeholder {
    color: #A0A0A0;
}

.profile__data:focus {
    outline: 0;
    border: 1px solid #3456F3;
}

.profile__data_type_error {
    border: 1px solid #EE3465;
}

.profile__data_type_error:focus {
    outline: 0;
    border: 1px solid #EE3465;
}

.profile__error {
    display: block;
    height: 16px;
    visibility: hidden;
}

.profile__error_active {
    display: inline;
    height: 12px;
    margin: 1px 0 3px;
    grid-area: error;
    text-align: end;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    visibility: visible;
}

.profile__button {
    display: block;
    box-sizing: border-box;
    margin: 205px auto 16px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border: none;
    background-color: transparent;
}

.profile__button_active {
    width: 100%;
    margin-top: 176px;
    height: 45px;
    border-radius: 3px;
    background-color: #3456F3;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    /* transition: 0.2s; */
}

.profile__button_active:hover {
    opacity: 0.8;
}

.profile__link {
    display: block;
    margin: 0 auto 70px;
    max-width: 410px;
    text-decoration: none;
    color: #EE3465;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.profile__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 896px) {
    .profile__title {
        margin: 236px auto 78px;
    }

    .profile__link {
        margin-bottom: 269px;
    }

    .profile__button {
        margin-top: 193px;
    }

    .profile__button_active {
        margin-top: 164px;
    }
}

@media screen and (max-width: 564px) {
    .profile {
        padding: 0 30px;
    }
    
    .profile__title {
        margin: 70px auto 62px;
        max-width: 100%;
    }

    .profile__form {
        max-width: 100%;
    }

    .profile__button {
        font-size: 12px;
        line-height: 15px;
        margin-top: 362px;
    }

    .profile__button_active {
        margin-top: 332px;
    }

    .profile__link {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 40px;
    }

}